<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itcast.mapper.dao.ScoresMapper">
	<resultMap id="BaseResultMap" type="com.itcast.ssm.po.Scores">
		<result column="Id" property="id" jdbcType="INTEGER" />
		<result column="StudentNo" property="studentno"
			jdbcType="INTEGER" />
		<result column="SubjectId" property="subjectid"
			jdbcType="INTEGER" />
		<result column="StudentScores" property="studentscores"
			jdbcType="INTEGER" />
		<result column="ExamDate" property="examdate" jdbcType="DATE" />
	</resultMap>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		Id, StudentNo, SubjectId, StudentScores, ExamDate
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.itcast.ssm.po.ScoresExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from Scores
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<delete id="deleteByExample"
		parameterType="com.itcast.ssm.po.ScoresExample">
		delete from Scores
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.itcast.ssm.po.Scores">
		insert into Scores (Id, StudentNo, SubjectId,
		StudentScores, ExamDate)
		values (#{id,jdbcType=INTEGER}, #{studentno,jdbcType=INTEGER},
		#{subjectid,jdbcType=INTEGER},
		#{studentscores,jdbcType=INTEGER}, #{examdate,jdbcType=DATE})
	</insert>
	<insert id="insertSelective"
		parameterType="com.itcast.ssm.po.Scores">
		insert into Scores
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="studentno != null">
				StudentNo,
			</if>
			<if test="subjectid != null">
				SubjectId,
			</if>
			<if test="studentscores != null">
				StudentScores,
			</if>
			<if test="examdate != null">
				ExamDate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="studentno != null">
				#{studentno,jdbcType=INTEGER},
			</if>
			<if test="subjectid != null">
				#{subjectid,jdbcType=INTEGER},
			</if>
			<if test="studentscores != null">
				#{studentscores,jdbcType=INTEGER},
			</if>
			<if test="examdate != null">
				#{examdate,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.itcast.ssm.po.ScoresExample"
		resultType="java.lang.Integer">
		select count(*) from Scores
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update Scores
		<if test="record!=null">
			<set>
				<if test="record.studentno != null">
					StudentNo = #{record.studentno,jdbcType=INTEGER},
				</if>
				<if test="record.subjectid != null">
					SubjectId = #{record.subjectid,jdbcType=INTEGER},
				</if>
				<if test="record.studentscores != null">
					StudentScores = #{record.studentscores,jdbcType=INTEGER},
				</if>
				<if test="record.examdate != null">
					ExamDate = #{record.examdate,jdbcType=DATE},
				</if>
			</set>
			<if test="_parameter != null">
				<include refid="Update_By_Example_Where_Clause" />
			</if>
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update Scores
		set Id = #{record.id,jdbcType=INTEGER},
		StudentNo = #{record.studentno,jdbcType=INTEGER},
		SubjectId = #{record.subjectid,jdbcType=INTEGER},
		StudentScores = #{record.studentscores,jdbcType=INTEGER},
		ExamDate = #{record.examdate,jdbcType=DATE}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
</mapper>